<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.dao.CstPlanMapper">
  <resultMap id="BaseResultMap" type="com.qf.entity.CstPlan">
    <id column="pla_id" jdbcType="INTEGER" property="plaId" />
    <result column="pla_chc_id" jdbcType="INTEGER" property="plaChcId" />
    <result column="pla_date" jdbcType="TIMESTAMP" property="plaDate" />
    <result column="pla_todo" jdbcType="VARCHAR" property="plaTodo" />
    <result column="pla_result" jdbcType="VARCHAR" property="plaResult" />
    <result column="pla_flag" jdbcType="INTEGER" property="plaFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    pla_id, pla_chc_id, pla_date, pla_todo, pla_result, pla_flag
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from cst_plan
    where pla_id = #{plaId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cst_plan
    where pla_id = #{plaId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qf.entity.CstPlan">
    insert into cst_plan (pla_id, pla_chc_id, pla_date, 
      pla_todo, pla_result, pla_flag
      )
    values (#{plaId,jdbcType=INTEGER}, #{plaChcId,jdbcType=INTEGER}, #{plaDate,jdbcType=TIMESTAMP}, 
      #{plaTodo,jdbcType=VARCHAR}, #{plaResult,jdbcType=VARCHAR}, #{plaFlag,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.qf.entity.CstPlan">
    insert into cst_plan
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="plaId != null">
        pla_id,
      </if>
      <if test="plaChcId != null">
        pla_chc_id,
      </if>
      <if test="plaDate != null">
        pla_date,
      </if>
      <if test="plaTodo != null">
        pla_todo,
      </if>
      <if test="plaResult != null">
        pla_result,
      </if>
      <if test="plaFlag != null">
        pla_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="plaId != null">
        #{plaId,jdbcType=INTEGER},
      </if>
      <if test="plaChcId != null">
        #{plaChcId,jdbcType=INTEGER},
      </if>
      <if test="plaDate != null">
        #{plaDate,jdbcType=TIMESTAMP},
      </if>
      <if test="plaTodo != null">
        #{plaTodo,jdbcType=VARCHAR},
      </if>
      <if test="plaResult != null">
        #{plaResult,jdbcType=VARCHAR},
      </if>
      <if test="plaFlag != null">
        #{plaFlag,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qf.entity.CstPlan">
    update cst_plan
    <set>
      <if test="plaChcId != null">
        pla_chc_id = #{plaChcId,jdbcType=INTEGER},
      </if>
      <if test="plaDate != null">
        pla_date = #{plaDate,jdbcType=TIMESTAMP},
      </if>
      <if test="plaTodo != null">
        pla_todo = #{plaTodo,jdbcType=VARCHAR},
      </if>
      <if test="plaResult != null">
        pla_result = #{plaResult,jdbcType=VARCHAR},
      </if>
      <if test="plaFlag != null">
        pla_flag = #{plaFlag,jdbcType=INTEGER},
      </if>
    </set>
    where pla_id = #{plaId,jdbcType=INTEGER}
  </update>
  <select id="searchByCondition" parameterType="com.qf.entity.SalChance" resultType="com.qf.vo.VPlan">
    select chc_id id,chc_cusr_name custName,chc_title svrtitle,chc_linkman linkman,chc_tel phone ,chc_create_date createtime,chc_status status from sal_chance
    <where>
      <if test="chcCusrName!='' ">
        and chc_cusr_name = #{chcCusrName}
      </if>
      <if test="chcLinkman!=''">
        and chc_linkman = #{chcLinkman}
      </if>
      <if test="chcCreateDate!=null">
        and chc_create_date= #{chcCreateDate}
      </if>
      <if test="chcCreateId!=null">
        and    chc_create_id = #{chcCreateId}
      </if>
    </where>




  </select>

  <!--<select id="findAll" resultType="com.qf.entity.CstPlan">-->
  <!--select * from cst_plan-->
  <!--</select>-->

  <!--  查询所有开发计划（客户开发计划中）,根据当前人的id去获取-->
  <update id="updateByPrimaryKey" parameterType="com.qf.entity.CstPlan">
    update cst_plan
    set pla_chc_id = #{plaChcId,jdbcType=INTEGER},
      pla_date = #{plaDate,jdbcType=TIMESTAMP},
      pla_todo = #{plaTodo,jdbcType=VARCHAR},
      pla_result = #{plaResult,jdbcType=VARCHAR},
      pla_flag = #{plaFlag,jdbcType=INTEGER}
    where pla_id = #{plaId,jdbcType=INTEGER}
  </update>

  <!-- 条件查询 -->
  <select id="findAll" parameterType="int" resultType="com.qf.vo.VPlan">
    select chc_id id,chc_cusr_name custName,chc_title svrtitle,chc_linkman linkman,chc_tel phone ,chc_create_date createtime,chc_status status from sal_chance  where chc_create_id = #{id}
  </select>
</mapper>